{% extends "sns/layout.html" %}

{% block title %}Post{% endblock title %}

{% block header %}
<h1 class="display-4 text-primary">Post</h1>
<p class="caption">※メッセージを投稿します。</p>
{% endblock header %}

{% block content %}
<table class="table mt-3">
    <tr><th>Messages</th></tr>
{% for item in contents %}
    <tr><td>
        <p class="fs-5 my-0">
            {{item.content}}
        </p>
        <p class="text-end my-0">
            ({{item.pub_date}})
        </p>
        <p class="text-end my-0 text-info">
            good={{item.good_count}}
        </p>
    </tr></td>
{% endfor %}
</table>
{% endblock content %}

