{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <!--CSS only-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.css" rel="stylesheet" crossorigin="anonymous">
</head>

<body class="container">
    <h1 class="display-4 text-primary">{{title}}</h1>
    <p class="h6 my-3"> {{msg}} </p>
    <form action="{% url 'form' %}" method="post">
    {% csrf_token %}
        <label for='msg' class="form-label">message: </label>
        <input id='msg' type="text" name="msg" class="form-control">
        <input type="submit" value="click" class="btn btn-primary">
    </form>
</body>
</html>